body {
    font-family: Arial, sans-serif;
    background-color: #ee5f5f;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: rgb(246, 245, 245);
    padding: 20px;
    border-radius: 6px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex: 1;
}
